#header {
    display: flex;
    justify-content: center;
    background-color: azure;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    display: 0;
    opacity: 0;
}

#btn-container {
    display: flex;
    justify-content: space-around;
}

#btn {
    margin-top: 200px;
    background: azure;
    padding: 25px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    display: 0;
    opacity: 0;
    
}

#btn:hover {
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
    display: 0;
    opacity: 0;
}